.category {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius);
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.8);
    border: var(--line);
}

.category--food {
    background-color: #fea3aa;
}

.category--entertainment {
    background-color: #f8b88b;
}

.category--transportation {
    background-color: #faf884;
}

.category--clothing {
    background-color: #baed91;
}

.category--technology {
    background-color: #b2cefe;
}

.category--health {
    background-color: #f2a2e8;
}
