@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html, body {
    height: 100%;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.App {
    display: flex;
    justify-content: center;
}

.App-content {
    width: 90vw;
    display: flex;
}

.Payments__none {
    background-color: #ffffff;
}

.Payments__red {
    background-color: #ffb3ba;
}

.Payments__orange {
    background-color: #ffdfba;
}

.Payments__yellow {
    background-color: #ffffba;
}

.Payments__green {
    background-color: #baffc9;
}

.Payments__blue {
    background-color: #bae1ff;
}
