@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #ff903e;
}

.Home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-content {
    width: 90vw;
    display: flex;
    justify-content: center
}

.Payments__red {
    background-color: #ffb3ba;
}

.Payments__orange {
    background-color: #ffdfba;
}

.Payments__yellow {
    background-color: #ffffba;
}

.Payments__green {
    background-color: #baffc9;
}

.Payments__blue {
    background-color: #bae1ff;
}

.rbc-btn-group button {
    background-color: white;
}

.rbc-month-view {
    background-color: white;
}
