.Login {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;

    &-form {
        width: 25vw;
        padding: 2.5rem;
        font-size: 1.3rem;
    }

    &-password {
        margin-bottom: 0;
    }

    &-forgotPassword {
        text-align: right;
        padding: 1rem 0;
    }

    &-createAccount {
        margin-top: 2rem;
        text-align: center;
    }

    &-createAccountLink {
        margin-left: 0.3rem;
    }
}

a,
a:visited,
a:active {
    color: var(--color-primary);
    text-decoration: none;
}
