.ValidationRow {
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    position: relative;

    &:first-of-type {
        margin-top: 0.75rem;
    }
}

.ValidationRow-message {
    left: 2rem;
    position: absolute;
}
