.ValidationRow {
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    position: relative;
}

.ValidationRow-message {
    left: 2rem;
    position: absolute;
}
