.Button {
    width: 100%;
    padding: 0.75rem 2rem;
    border-radius: 2px;
    border: none;
    background-color: #f2f1f0;
    font-size: 1rem;
}

.Button:hover {
    background-color: #f7f7f7;
}

.Button:active {
    background-color: #d9d8d7;
}

.Button__main {
    background-color: orange;
    color: #ffffff;
}

.Button__main:hover {
    background-color: #ffbf1a;
}

.Button__main:active {
    background-color: #e68c00;
}
