.Calendar {
    width: 50vw;
    height: 70vh;
    margin-right: 2rem;
}


/* react-calendar style overrides */

.rbc-btn-group button {
    background-color: white;
}

.rbc-month-view {
    background-color: white;
}
