.Category {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.Category--food {
    background-color: #fea3aa;
}

.Category--entertainment {
    background-color: #f8b88b;
}

.Category--transportation {
    background-color: #faf884;
}

.Category--clothing {
    background-color: #baed91;
}

.Category--technology {
    background-color: #b2cefe;
}

.Category--health {
    background-color: #f2a2e8;
}
