.DetailList {
    margin: 0 0 1rem;
}

.DetailList-sectionHeading {
    margin: 0;
}

.DetailList-addItemContainer {
    display: flex;
    justify-content: flex-end;
}

.DetailList-totals {
    margin-top: 3rem;
}
