.form-field {
    margin-bottom: 2rem;
}

.form-field__label {
    display: block;
    font-size: 1.2rem;
    padding-bottom: 0.25rem;
}

.form-field__description {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    padding-top: 0.25rem;
}
