.FormField {
    margin-bottom: 1.5rem;

    &-label {
        display: block;
        font-size: 1rem;
        padding-bottom: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
    }

    &-description {
        color: rgba(0, 0, 0, 0.4);
        font-size: 1rem;
        padding-top: 0.25rem;
    }
}
