$selected-calendar-date: rgba(253, 164, 40, 0.35);

.CalendarDate {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.75rem;

    &--selected {
        background-color: $selected-calendar-date;

        &.rbc-today {
            background-color: $selected-calendar-date;
        }
    }
}

.u-negative {
    color: #ba1f1f;
}
