.DetailList {
    &-sectionHeading {
        margin: 0;
    }

    &-message {
        margin: 2rem 0;
        font-size: 1.4rem;
    }

    &-addContainer {
        display: flex;
        justify-content: flex-end;
    }

    &-totalSection {
        margin-top: 1rem;
        padding-top: 1rem;
        margin-bottom: 2.5rem;
        border-top: var(--line);
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;
        font-weight: 700;
    }
}
