.home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 3rem;
        justify-content: center;
        align-items: start;
    }
}
