.calendar {
    width: 50vw;
    height: 70vh;
    font-size: 1.3rem;
}

/* react-calendar style overrides */

.rbc-btn-group button {
    background-color: #fff;
}

.rbc-month-view {
    background-color: #fff;
    box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
}

.rbc-today {
    background-color: inherit;
}

.rbc-date-cell.rbc-now {
    font-weight: normal;
}
