input[type='password'] + .FormField-description {
    font-size: 1.1rem;
}

input[type='password'].PasswordField--weak {
    border-bottom: 3px solid crimson;
}

.PasswordField--weak + .FormField-description {
    color: crimson;
}

input[type='password'].PasswordField--okay {
    border-bottom: 3px solid goldenrod;
}

.PasswordField--okay + .FormField-description {
    color: goldenrod;
}

input[type='password'].PasswordField--strong {
    border-bottom: 3px solid limegreen;
}

.PasswordField--strong + .FormField-description {
    color: limegreen;
}
