.Register {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: start;

    &-content {
        width: 30vw;
        margin-top: 15rem;
    }

    &-buttons {
        display: flex;
        justify-content: space-between;
    }
}
