.card {
    padding: 1rem;
    border: var(--line);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: #fff;

    &__heading {
        text-align: center;
        margin-bottom: 1rem;
    }
}
