.Card {
    padding: 2.5rem;
    border: var(--line);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: #fff;

    &-heading {
        text-align: center;
        margin-bottom: 1rem;
    }
}

.CardSection {
    margin-bottom: 2.5rem;
    font-size: 1.3rem;

    &:not(:last-of-type) {
        padding-bottom: 2.5rem;
        border-bottom: var(--line);
    }

    &-heading {
        font-size: 1.4rem;
    }

    &-description {
        margin-bottom: 0.75rem;
    }
}
