.MenuButton {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    fill: #fff;

    &:hover {
        filter: drop-shadow(0 0 3px currentColor);
    }
}
