.Button {
    padding: 1.15rem 2.5rem;
    border-radius: 2px;
    border: none;
    font-size: 1.3rem;
    background-color: #f2f1f0;
    transition: all 0.2s;

    &:hover:enabled {
        background-color: #f7f7f7;
    }

    &:active:enabled {
        background-color: #d9d8d7;
    }

    &:disabled {
        opacity: 35%;
    }

    &--orange {
        background-color: orange;
        color: #ffffff;

        &:hover:enabled {
            background-color: #ffbf1a;
        }

        &:active:enabled {
            background-color: #e68c00;
        }
    }

    &--red {
        background-color: crimson;
        color: #ffffff;

        &:hover:enabled {
            background-color: #e84061;
        }

        &:active:enabled {
            background-color: #ad1433;
        }
    }

    &--blue {
        background-color: #0a84ff;
        color: #ffffff;

        &:hover:enabled {
            background-color: #3b9cff;
        }

        &:active:enabled {
            background-color: #0069d4;
        }
    }

    &--full {
        width: 100%;
    }
}
