.button {
    padding: 1rem 2.5rem;
    border-radius: 2px;
    border: none;
    font-size: 1.3rem;
    background-color: #f2f1f0;
    transition: all 0.2s;
}

.button:hover {
    background-color: #f7f7f7;
}

.button:active {
    background-color: #d9d8d7;
}

.button--primary {
    background-color: orange;
    color: #ffffff;
}

.button--primary:hover {
    background-color: #ffbf1a;
}

.button--primary:active {
    background-color: #e68c00;
}
