.Account {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
        width: 50rem;
        font-size: 1.2rem;
    }

    &-header {
        padding: 0 3.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-email {
        font-size: 1.4rem;
        font-weight: 700;
        max-width: 25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-buttons {
        display: flex;
        justify-content: flex-end;
    }
}
