input[type='number'],
input[type='password'],
input[type='text'] {
    width: 100%;
    border: var(--line);
    border-radius: var(--border-radius);
    font-size: 1.3rem;
    padding: 0.75rem 0.75rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

input[type='number'] {
    appearance: textfield;
}
